III Parcial/Ejercicio Unico/Tarea1JSP2/WebContent/wsdl/ImageDAO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ImageService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ImageService" xmlns:intf="http://ImageService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ImageService" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="create">
    <complexType>
     <sequence>
      <element name="textStream" type="xsd:string"/>
      <element name="width" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="createResponse">
    <complexType>
     <sequence>
      <element name="createReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="createRequest">

      <wsdl:part element="impl:create" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createResponse">

      <wsdl:part element="impl:createResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ImageDAO">

      <wsdl:operation name="create">

         <wsdl:input message="impl:createRequest" name="createRequest">

       </wsdl:input>

         <wsdl:output message="impl:createResponse" name="createResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ImageDAOSoapBinding" type="impl:ImageDAO">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="create">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ImageDAOService">

      <wsdl:port binding="impl:ImageDAOSoapBinding" name="ImageDAO">

         <wsdlsoap:address location="http://localhost:8080/CreateImageService/services/ImageDAO"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
